@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
header {
  display: flex;
  flex-direction: column;
  padding: 0rem 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.85rem;
}

.set-lang {
  display: flex;
  gap: 0.8rem;
  font-size: 0.9rem;
}
.set-lang p {
  cursor: pointer;
}

.clicked {
  color: #FFFFFF;
}

.not-clicked {
  color: rgba(255, 255, 255, 0.5);
}

#hero {
  display: flex;
  flex-direction: column;
  margin-bottom: -1rem;
}
#hero h1 {
  font-size: 2.34rem;
}
#hero h2 {
  font-size: 1.3rem;
  margin-top: 0.8rem;
}

.hero-description {
  color: #B0A99F;
  margin-top: 1rem;
  font-size: 1.05rem;
  width: 33ch;
}

.hero-icons {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
}
.hero-icons svg {
  width: 2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}
.hero-icons svg:hover {
  fill: #61EAD5;
  transform: scale(1.1);
}

@media (min-width: 840px) {
  header {
    padding: 0rem;
    position: fixed;
    width: 30rem;
  }
  nav {
    padding: 1rem;
  }
  #hero {
    margin: 0 auto;
    margin-top: 5rem;
    width: 70%;
  }
  #hero h2 {
    width: 20ch;
  }
  #hero p {
    width: 30ch;
  }
}
main {
  padding: 0rem 1rem;
}

.section-title {
  margin-top: 3rem;
}
.section-title h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.about-body {
  color: #B0A99F;
}
.about-body a {
  color: #C9D7E3;
  transition: color 0.3s ease;
}
.about-body a:hover {
  color: #31a594;
}

.exp-card {
  margin-bottom: 3rem;
  color: #B0A99F;
}

.exp-card__date {
  margin-bottom: 0.7rem;
}

.exp-card__title {
  margin-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #C9D7E3;
}

.exp-card__descr {
  margin-top: 0.5rem;
  color: #B0A99F;
}

.exp-card__techs {
  list-style: none;
  display: flex;
  gap: 0.6rem;
  margin-top: 0.7rem;
}

.exp-car__tech {
  border-radius: 15px;
  background-color: #0E2230;
  color: #61EAD5;
  padding: 0.45rem 0.55rem;
  font-size: 0.9rem;
}

#projects {
  margin-top: 4rem;
}

.proj-card {
  margin-bottom: 3rem;
}

.proj-card__title {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}
.proj-card__title h4 {
  font-size: 1.1rem;
  font-weight: 400;
  color: #C9D7E3;
  transition: transform 0.3s ease, color 0.3s ease;
}
.proj-card__title h4:hover {
  color: #31a594;
  transform: scale(1.02);
}
.proj-card__title svg {
  width: 1.1rem;
}

.proj-card__desc {
  margin-top: 0.5rem;
  color: #B0A99F;
}

.proj-card__image {
  margin-top: 0.9rem;
  width: 50%;
  border-radius: 2%;
}
.proj-card__image img {
  border-radius: 2%;
}

#charts {
  margin-top: 0rem;
}
#charts img {
  margin-top: -1rem;
}

footer {
  margin-top: 1.7rem;
  padding: 1rem;
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
footer p {
  color: #5D8ECB;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.3rem;
}

@media (min-width: 840px) {
  main {
    margin-top: 3rem;
    margin-left: 30rem;
  }
  #about {
    margin-top: 1rem;
  }
  #about p {
    width: 64ch;
  }
  #experience p {
    width: 64ch;
  }
  #projects p {
    width: 40ch;
  }
  #charts {
    width: 37rem;
  }
  footer {
    margin-top: 2rem;
    margin-left: 30rem;
  }
}
.edu {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.front-page-links {
  display: flex;
}

.edu-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.edu-card figure img {
  aspect-ratio: 1200/628;
  object-fit: cover;
}

.tech-lists.edu-lists {
  grid-template-columns: 1fr;
}

.exp {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.works-image figure {
  position: relative;
}
.works-image figure figcaption {
  position: absolute;
  top: 50%;
}

.left-right-buttons {
  aspect-ratio: 1/1;
  width: 1.5rem;
  cursor: pointer;
}

#left {
  left: 1%;
}

#right {
  right: 1%;
}

.works-links figure {
  aspect-ratio: 1.3/1;
  width: 1rem;
}

.main-features {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.main-features .works-features {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.works-features {
  margin-left: 18px;
}

.work-content {
  display: grid;
  grid-template-columns: 25% 60%;
}

.side-list {
  width: 50vw;
  display: flex;
  flex-direction: column;
}
.side-list a {
  list-style-type: none;
  margin-bottom: 2.4rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.work-card {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.work-card p {
  font-size: 1.3rem;
}

.work-images {
  width: 40vw;
  border: 2px solid black;
}

.work-links {
  display: flex;
  gap: 1rem;
}
.work-links figure {
  cursor: pointer;
  width: 2rem;
}
.service-image {
  width: 250px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.services-lists {
  display: grid;
  gap: 1rem;
}
.services-lists ul {
  padding-left: 20px;
}
.services-lists ul li {
  width: 100%;
}

@media (min-width: 768px) {
  .services-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .services-lists ul {
    padding-left: 20px;
  }
  .services-lists ul li {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

body {
  font-family: inter;
  background-color: #2D3133;
  color: #E8E6E3;
}

.layout {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 1024px) {
  .layout {
    display: flex;
  }
}

/*# sourceMappingURL=app.css.map */
