.edu
  display: flex
  flex-direction: column
  gap: 0.8rem

.front-page-links
  display: flex
  overflow-x: auto 
  flex-wrap: nowrap!important
  white-space: nowrap
  column-gap: 0
  row-gap: 0
  a
    flex-shrink: 0

.edu-card
  display: flex
  flex-direction: column
  gap: 0.8rem
  figure
    width: 100%
    
  

.left-border
  border-left: 1px solid black

.right-border
  border-right: 1px solid black

.top-border
  border-top: 1px solid black

.bottom-border
  border-bottom: 1px solid black