footer
  padding: 1rem
  display: flex
  flex-direction: column
  gap: 0.4rem
  padding-top: 0rem

.final-links
  display: flex
  flex-wrap: wrap 
  grap: 1rem

@media (min-width: 700px)
  footer
    width: 50vw
    margin: 0 auto

  .final-links
    justify-content: center