header
  display: flex 
  flex-direction: column
  padding: 0rem 1rem

// navbar--------
nav
  display: flex
  justify-content: space-between
  padding: 0.85rem

.set-lang
  display: flex
  gap: 0.8rem
  font-size: 0.9rem
  p
    cursor: pointer

.clicked
  color: #FFFFFF

.not-clicked
  color: rgba(255, 255, 255, 0.5)


// hero----------
#hero
  display: flex
  flex-direction: column
  margin-bottom: -1rem
  h1
    font-size: 2.34rem
  h2
    font-size: 1.3rem
    margin-top: 0.8rem

.hero-description
  color: $color-texto
  margin-top: 1rem
  font-size: 1.05rem
  width: 33ch

.hero-icons
  margin-top: 1.2rem
  display: flex
  gap: 1rem
  svg
    width: 2rem

@media (min-width: 840px)
  header
    padding: 0rem
    margin-right: 5rem
    position: fixed
    border: 
  nav
    padding: 0rem
  #hero
    h2
      width: 20ch
    p
      width: 30ch

  main
    margin-top: 3rem
    margin-left: 26rem

  #charts
    img
      width: 20rem
    
