.home
  display: flex 
  flex-direction: column
  align-items: center
  gap: 1rem

#hero
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.4rem
  .presentation
    font-size: 1.4rem
    font-weight: 600

.profile-pic
  width: 250px
  aspect-ratio: 1/1
  border-radius: 50%
  border: 1px solid black
  img
    border-radius: 50%

#home-icons
  display: flex
  gap: 1rem
  figure
    width: 2rem

#technologies
  width: 100%

#soft-skills
  width: 100%
  
.tech-lists
  display: grid
  grid-template-columns: 1fr 1fr
  width: 100%
  ul
    padding-left: 20px
    list-style-type: circle
    li
      width: 100%

.home-projects
  display: flex
  gap: 1rem

@media (min-width: 700px)

