.home
  display: flex 
  flex-direction: column
  align-items: center
  gap: 1rem

#hero
  display: flex
  flex-direction: column
  align-items: center
  gap: 0.4rem

.profile-pic
  width: 250px
  aspect-ratio: 1/1
  border-radius: 50%
  border: 1px solid black
  img
    border-radius: 50%

.links
  display: flex
  gap: 1rem
  figure
    width: 2rem

.technologies
  width: 100%

.tech-lists
  display: grid
  grid-template-columns: 1fr 1fr
  width: 100%
  ul
    padding-left: 20px
    list-style-type: circle
    li
      width: 100%

.soft-skills
  width: 100%
  
.profile-texts
  display: flex
  flex-direction: column
  gap: 2.5rem
  section
    display: flex
    flex-direction: column
    gap: 0.3rem
    h3
      font-weight: 500
      font-size: 1.6rem
      text-align: left
    p
      font-size: 1.4rem
