main
  padding: 6rem 1.5rem 0rem 1.5rem

section
  margin-bottom: 4rem

.section-title
  h2
    font-size: 0.9rem
    margin-bottom: 2.5rem
    font-weight: 800!important
    letter-spacing: 0.1rem
    text-transform: uppercase

// about---------------
.about-body
  color: $color-texto
  a
    color: $color-titulo
    transition: color 0.3s ease
  a:hover
    color: #31a594

// experience----------
.exp-card
  margin-bottom: 3rem
  color: $color-texto

.exp-card__date
  color: #7d8597
  font-size: 0.85rem
  margin-bottom: 0.2rem
  
.exp-card__title
  display: flex
  align-items: flex-end
  gap: 0.2rem
  font-size: 1.4rem
  font-weight: 400
  color: $color-titulo
  margin-bottom: 0.3rem

.exp-card__descr
  color: $color-texto
  margin-bottom: 0.5rem

.exp-card__extra
  margin-bottom: 0.5rem
  a
    border: 1px solid #677c8b
    border-radius: 12px
    padding: 0.3rem 0.5rem
    font-size: 0.9rem
    display: inline-flex
    gap: 0.1rem
    color: $color-titulo
  a:hover
    color: #31a594


.exp-card__techs
  list-style: none
  display: flex
  gap: 0.6rem

.exp-car__tech
  border-radius:  15px
  background-color: #0E2230
  color: #61EAD5
  padding: 0.45rem 0.55rem
  font-size: 0.9rem

// projects-----------
#projects

.proj-card
  margin-bottom: 3rem

.proj-card__title
  display: flex
  align-items: flex-end
  gap: 0.2rem
h4, .navbar-links a
  font-size: 1.1rem
  font-weight: 400
  color: $color-titulo
  transition: transform 0.3s ease, color 0.3s ease
h4:hover,.navbar-links a:hover
  color: #31a594
  transform: scale(1.02)
svg
  width: 1.1rem

.proj-card__desc
  margin-top: 0.5rem
  color: $color-texto

.proj-card__image
  margin-top: 0.9rem
  width: 50%
  border-radius: 2%
  img
    border-radius: 2%

// charts--------------
#charts
  img
    margin-top: -1rem

//  footer ----------
footer
  margin-top: 1.7rem
  padding: 1rem
  padding-top: 0rem
  display: flex
  flex-direction: column
  gap: 0.4rem
  p
    color: #5D8ECB

.footer-links
  display: flex
  flex-wrap: wrap 
  column-gap: 1rem
  row-gap: 0.3rem


@media (min-width: 840px)
  main
    margin-top: 5.5rem
    margin-left: 30rem

  main
    padding: 0rem 0rem 0rem 0rem

  .section-title
    h2
      // border: 1px solid red
      font-size: 1.2rem
      margin-bottom: 2rem

  .exp-card__descr
    width: 100px

  section
    margin-bottom: 7rem

  #about
    p
      width: 64ch
      
  #experience
    p
      width: 64ch

  #projects
    p
      width: 40ch

  #charts
    margin-bottom: 5rem
    width: 40rem
  
  footer
    margin-left: 30rem
