nav
  display: flex
  justify-content: space-between
  padding: 0.85rem

.language
  display: flex
  gap: 0.8rem
  font-size: 0.9rem
  p
    cursor: pointer

.clicked
  color: #FFFFFF

.not-clicked
  color: rgba(255, 255, 255, 0.5)


@media (min-width: 840px)
  #hero
    h2
      width: 20ch
    p
      width: 30ch

  header
    padding: 0rem

  nav
    border: 1px solid red











  
  // .nav-mobile, .hambu
  //   display: none
  // .nav-desktop
  //   display: flex
  //   padding-right: 1rem 
    // padding-left: 2rem
    // ul
    //   display: flex
    //   a
    //     margin-left: 3rem
    //     list-style-type: none

// mobile
// .nav-mobile
//   figure
//     width: 2rem
//     aspect-ratio: 1/1


// .notHambu, .nav-desktop
  // display: none 

// .hambu
//   width: 100%
//   display: flex
//   flex-direction: column
//   text-align: right
//   padding: 0.3rem 0.8rem
//   gap: 0.3rem
//   a
//     font-size: 1.2rem

