.service-image
  width: 250px

.service
  display: flex
  flex-direction: column
  gap: 0.5rem

.services-lists
  display: grid
  gap: 1rem
  ul
    padding-left: 20px
    li
      width: 100%

@media (min-width: 768px)
  .services-lists
    display: grid
    grid-template-columns: 1fr 1fr
    width: 100%
    ul
      padding-left: 20px
      li
        width: 100%
